.hero-section {
  min-height: 100vh;
  position: relative;
  text-align: center;
}

.hero-heading {
  font-size: 106px;
  font-weight: 700;
}

.hero-subheading {
  line-height: 38px;
  font-size: 30px;
  font-weight: 700;
  margin: 35px 58px;
}

@media all and (max-width: 1279px) {
  .hero-heading {
    font-size: 82px;
    line-height: 92px;
  }

  .hero-subheading {
    font-size: 25px;
  }
}

@media all and (max-width: 767px) {
  .hero-section {
    align-items: flex-start;
    text-align: left;
  }
  .hero-heading {
    font-size: 55px;
    line-height: 47.5px;
    width: 270px;
  }
  .hero-subheading {
    font-size: 16px;
    line-height: 22px;
    margin: 35px 0px;
  }
}
