@media all and (max-width: 1279px) {
  .info-container {
    background-position: center bottom;
  }
}

@media all and (max-width: 767px) {
  .info-container {
    background-image: url(https://web-images.credcdn.in/_next/assets/images/home-page/deserve-more-bg-mobile.jpg);
    min-height: 1150px;
    background-position: right center;
  }
}
